@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <p>My name is Shincy. And this is a sample project demonstrates calling multiple API from <a href="https://jsonplaceholder.cypress.io/todos">https://jsonplaceholder.cypress.io/todos</a>.</p>
</div>
